.pos {
    width: 400px;

    position: fixed;
    z-index: 1;
    top: 0;
    
}
.left  {
    border-radius: 40px 200px;
    margin-left: 150px;
    border: solid;
    height: 100px;
    left: 0;
}
.right  {
    border-radius: 70px 250px;
    margin-right: 150px;
    border:solid;
    height: 80px;
    right: 0;
}

.left2  {
    border-radius: 70px 250px;
    margin-left: 150px;
    margin-top: 150px;
    border: solid;
    height: 80px;
    left: 0;
    }

.right2  {
    border-radius: 40px 200px;
    margin-right: 150px;
    margin-top: 150px;
    border:solid;
    height: 100px;right: 0;
    
}
h1  {
    font-size: 25px;
    text-align: center;
}